.chat-container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 400px; /* 固定幅を設定 */
  margin: auto;
  border: 1px solid #ccc;
  background: #f9f9f9;
  overflow: hidden;
  position: fixed; /* 要素を固定 */
  left: 50%; /* 左端から50%の位置に配置 */
  transform: translateX(-50%); /* 要素の幅の半分だけ左に移動して中央に配置 */
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}

.messages-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.messages-container::-webkit-scrollbar {
  display: none; /* Webkitベースのブラウザ（Chrome, Safariなど）でスクロールバーを非表示にする */
}

.message {
  width: 60%; /* 固定幅を設定 */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.message.sent {
  align-self: flex-end;
  background: #007bff;
  color: white;
}

.message.received {
  align-self: flex-start;
  background: #e0e0e0;
  color: black;
}

.input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}
.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background: #0056b3;
}

.testmsg {
  width: 60%; /* 固定幅を設定 */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  background: #007bff;
  color: white;
  align-self: flex-end;
}

.chatWith-nickname{
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background: #f9f9f9;
  color: #000;
  margin: auto;
  position: fixed; 
  left: 50%;
  width: 27%; 
  top:0;
  z-index:1;
  transform: translateX(-50%); 
  border-top-left-radius: 5px; /* 左上の角を丸くする */
  border-top-right-radius: 5px; /* 右上の角を丸くする */
}
