html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: var(--background-color, linear-gradient(113deg, #BEC9F8 0%, #D16CFF 20.1%, #FF5151 84.64%, #FF8E72 100%));
    background-size: cover;
    background-position: center;
}

.About-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.About-headerbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.About-contents{
    display: flex;
    flex: 1;
    margin-top: 5.5%;
}

.About-menu{
    width: 300px;
    margin-right: 5px;
}

.About {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}