html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: var(--background-color, linear-gradient(113deg, #BEC9F8 0%, #D16CFF 20.1%, #FF5151 84.64%, #FF8E72 100%));
    background-size: cover;
    background-position: center;
}

.News-container {
    min-height: 100vh;
    position: relative;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.News-headerbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.News-contents{
    display: flex;
    flex: 1;
    margin-top: 5.5%;
}