.profile-edit-container {
    display: flex;
    flex-direction: column; /* 縦並びに変更 */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px auto;
    max-width: 800px;
    position: relative;
}

.profile-edit-header {
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%; /* ヘッダーを全幅に */
    text-align: center; /* 中央揃え */
}

.profile-info {
    display: flex;
    flex-direction: row; /* 横並びに変更 */
    justify-content: space-between; /* 左右に配置 */
}

.profile-info-left, .profile-info-right {
    flex: 1; /* 左右のコンテナを均等に */
    margin: 10px; /* 左右の間隔を調整 */
}

.profile-info p {
    margin: 5px 0;
    font-size: 14px;
}

.form-group label {
    display: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.update-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.profile-edit-page {
    background-image: url("../../../assets/image1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}