.profile-change-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 80vh;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1;
    overflow-wrap: break-word;
    word-break: break-word;
   
    position: relative; 
    }
    

.workplace-group {
    position: relative; 
    display: flex;
    flex-direction: column;
}


.profile-edit-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-group label {
    display: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* 職場欄の .workplace-group に対して相対配置 */
    bottom: 0px; /* 下端に配置 */
    right: 0px; /* 右端に配置 */
}

.update-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.profile-edit-page {
    background-image: url("../../../assets/image1.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    color: black;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;

     /* スクロールバーを非表示にする */
     scrollbar-width: none; /* Firefox */
     -ms-overflow-style: none; /* IE/Edge */
     
}