html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: var(--background-color, linear-gradient(113deg, #BEC9F8 0%, #D16CFF 20.1%, #FF5151 84.64%, #FF8E72 100%));
    background-size: cover;
    background-position: center;
}

.service-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.service-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 0;
}

.service-contents{
    display: flex;
    flex: 1;
    margin-top: 5.5%;
}

.service-menu{
    width: 300px;
    margin-right: 5px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}