.profile-edit-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1;
}

.profile-edit-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.form-group label {
    display: 0;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.update-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

update-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.profile-edit-page {
    background-image: url("../../assets/image1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}